.navbarContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.navbar {
  background-color: var(--primary-text-color);
  width: max-content;
  position: fixed;
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  opacity: 0.8;
}

.icons {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--background-color);
  font-size: 1.1rem;
}

.icons:hover {
  background: gray;
}
