.contactsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: black;
}

.contactsContainer {
  display: flex;
  gap: 1rem;
}

.contactsBox {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  align-items: center;
  font-family: "Lato";
  font-size: 1rem;
}

.contactsSocial {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  transition: all 0.1s ease-in-out;
}

.contactsSocial:hover {
  filter: opacity(80%);
}
.contactsSocialIcon {
  font-size: 2rem;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contactsWrapper {
    display: none;
  }
}
